@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Light.ttf');
}
@font-face {
    font-family: 'Raleway Bold';
    src: url('../fonts/Raleway/Raleway-Bold.ttf');
}
@font-face {
    font-family: 'Montserat';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'Montserat b';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserat b';
}

span, p {
    font-family: 'Raleway';
}

div.todolist-wrapper {
    width: 600px;
    height: auto;
    margin: auto;
    padding: 50px 0;
    border: 1px solid #cccccc;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

div.todolist-container {
    width: 80%;
}

div.todolist-container div.checkbox {
    background-color: #cccccc;
    padding: 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.todolist-container div.checkbox label {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

form.todo-form {
    display: flex;
    align-items: center;
}

form.todo-form div.form-group {
    width: 100%;
}

form.todo-form button {
    height: 40px;
    margin-top: 15px;
}